.container {
	max-width: 36rem;
	padding: 0 1rem;
	margin: 3rem auto 6rem;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-end;
}

.headerImage {
	width: 6rem;
	height: 6rem;
	display: inline-block;
}

.headerHomeImage {
	width: 8rem;
	height: 8rem;
}

.backToHome {
	margin: 3rem 0 0;
}

.table {
	display: inline-block;
}

.horizontalList {
	display: block;
	list-style: none;
	margin-right: 3rem;
	float: right;
	// border: solid 3px black;
	li {
		display: inline;
		padding: 1rem;
	}
}
